URL_BASE_DATOS=postgresql+asyncpg://ika_usuario:ika_contrasena@localhost:5433/ika_travel_bd

# --- Redis y Celery ---
URL_REDIS=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2

# --- APIs Externas ---
OPENWEATHERMAP_API_KEY=
WEATHERAPI_KEY=
GEMINI_API_KEY=
DIRCETUR_URL_PADRON=

# --- SOS ---
SOS_NOTIFY_EMAILS=admin1@ika.com,admin2@ika.com

# --- Core ---
ORIGENES_CORS=*
CLAVE_ADMIN=secreto
UPLOADS_DIR=./uploads
MAX_UPLOAD_MB=5