# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Env vars
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Celery
celerybeat-schedule

# Alembic (dejar versions/, ignorar solo si aplica)
